/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * takaraisland implementation : © Antonio Soler <morgald.es@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * takaraisland.css
 *
 * takaraisland stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (takaraisland_takaraisland.tpl), and to HTML elements you create dynamically
    (in takaraisland.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/

@import url(../../../css/csslayer.css); /* Note: you must not use any @import directive other than this one */

/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/

#playArea {
  width: 100%;
  background-image: url('img/background.jpg');
  background-size: cover;
  perspective: 2000px;
}
.boarddiv {
  border: 1px;
  width: 1024px;
  height: 738px;
  background-image: url('img/board.jpg');
  position:relative  
}
#swordholder {
  border: 1px;
  width: 60px;
  height: 100px;
  position: absolute;
  left: 90px;
  top: 110px;
  border-style: solid;
  border-color: #beff0f;
}
#sword {
  transition: 0.6s;
  width: 44px;
  height: 100px;
  transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  backface-visibility: hidden;
  width:44px;
  height:100px;
  background-image: url('img/sword.png');
  position: absolute;
  
}
.front {
  z-index: 2;
  transform: rotateY(0deg);
}
.back {
  transform: rotateY(180deg);
}

.flipped {
  transform: rotateY(180deg);
}

#HospitalC {
  border: 1px;
  width: 300px;
  height: 140px;
  position: absolute;
  left: 200px;
  top: 65px;
  border-style: solid;
  border-color: #ffb00f;
  transform: rotate(10deg);
}
#WaitingroomC {
  border: 1px;
  width: 160px;
  height: 115px;
  position: absolute;
  left: 175px;
  top: 200px;
  border-style: solid;
  border-color: #ffb00f;
  transform: rotate(10deg);
}
#expertsC {
  border: 1px;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 60px;
  top: 305px;
  border-style: solid;
  border-color: #ff0f40;
  border-radius: 50%;
}
#workersC {
  border: 1px;
  width: 70px;
  height: 70px;
  position: absolute;
  left: 350px;
  top: 350px;
  border-style: solid;
  border-color: #ff0f40;
  border-radius: 50%;
}
#counterC {
  border: 1px;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 127px;
  top: 455px;
  border-style: solid;
  border-color: #ff0f40;
  border-radius: 50%;
}
#diveC {
  border: 1px;
  width: 210px;
  height: 70px;
  position: absolute;
  left: 270px;
  top: 610px;
  border-style: solid;
  border-color: #ff0f40;
}
#treasuredeck {
  border: 1px;
  width: 200px;
  height: 150px;
  position: absolute;
  left: 660px;
  top: 300px;
  border-style: solid;
  border-color: #ff0f40;
}
.deckholder {
  border: 1px;
  width: 160px;
  height: 200px;
  position: absolute;
  border-style: solid;
  border-color: #c100dd;
}
.deck {
  
  width: 99%;
  height: 200px;
  position: absolute;
  
  
}

.deckholder:hover .buttondiv {  
  display: block;
  background-image:url('img/browse.gif');
  left: 0px;
  top: 0px;
  z-index: 10;
}

.buttondiv {
  position: absolute;
  display: none;
  width: 75px;
  height: 33px;
  background-image:none;
  
}

.stockitem {
  border-radius: 14px;
  
}


.exploreholder {
  border: 1px;
  width: 150px;
  height: 60px;
  position: absolute;
  border-style: solid;
  border-color: #c0dd00;
}
.expertholder {
  border: 1px;
  width: 50px;
  height: 130px;
  position: absolute;
  border-style: solid;
  border-color: #c0dd00;
}
#expert1 {
 left: 0px;
  top: 45px;
}
#expert2 {
 left: 0px;
  top: 215px;
}
#expert3 {
 left: 0px;
  top: 390px;
}
#expert4 {
 left: 0px;
  top: 560px;
}
#deckholder1 {
 left: 520px;
  top: 50px;
}
#deckholder2 {
 left: 690px;
  top: 20px;
}
#deckholder3 {
 left: 860px;
  top: 20px;
}
#deckholder4 {
 left: 510px;
  top: 510px;
}
#deckholder5 {
 left: 690px;
  top: 530px;
}
#deckholder6 {
 left: 860px;
  top: 490px;
}
#explore1 {
 left: 500px;
  top: 260px;
}
#explore2 {
 left: 690px;
  top: 230px;
}
#explore3 {
 left: 860px;
  top: 230px;
}

#explore4 {
 left: 500px;
  top: 440px;
}
#explore5 {
 left: 690px;
  top: 460px;
}
#explore6 {
 left: 870px;
  top: 420px;
}
.playercamp {
  width: 380px;
  height: 277px;
  margin: 3px;
  float: left;
  background-image: url('img/0000ff.jpg');
  position:relative
}
.playertileholder {
  border: 1px;
  width: 60px;
  height: 60px;
  position: absolute;
  border-style: solid;
  border-color: #c0dd00;
}
.t1 {
 right: 5px;
  top: 18px;
}
.t2 {
 right: 5px;
  top: 105px;
}
.t3 {
 right: 5px;
  top: 196px;
}
.cardstore {
  border: 1px;
  width: 300px;
  height: 200px;
  top:75px;
  left:2px;
  position: absolute;
  border-style: solid;
  border-color: #00cddd;
}
.playerswordholder {
  border: 1px;
  width: 60px;
  height: 100px;
  top:1px;
  left:215px;
  position: absolute;
  border-style: solid;
  border-color: #c0dd00;
}
.playernameholder {
  border: 1px;
  width: 190px;
  height: 18px;
  top:1px;
  left:10px;
  position: absolute;
  border-style: solid;
  border-color: #ddffbc;
  text-align: center;
  background-color: white;
  display:inline;  
}
.xpstore {
  border: 1px;
  width: 210px;
  height: 50px;
  top:20px;
  left:1px;
  position: absolute;
  border-style: solid;
  border-color: #dd00bc;
}
.playercolor_ff0000{
background-image: url('img/ff0000.jpg');	
}
.playercolor_008000{
background-image: url('img/008000.jpg');	
}
.playercolor_0000ff{
background-image: url('img/0000ff.jpg');	
}
.playercolor_ffa500{
background-image: url('img/ffa500.jpg');	
}
.whiteblock {
    position: relative;
    min-height: 200px;
    border-radius: 10px;
}
